@page "/Login"
<h3>Login</h3>

@if (!string.IsNullOrEmpty(Message))
{
<div class="alert alert-danger">
    @Message
</div>
}

<div class="row">
    <div class="col-md-4">
        <EditForm Model="@Model" OnValidSubmit="HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />
            
            <div class="form-group">
                <label class="control-label">Email</label>
                <InputText id="userName" class="form-control" @bind-Value="Model.Email" />
                <ValidationMessage For="@(() => Model.Email)"/>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <InputText id="password" type="Password" class="form-control" @bind-Value="Model.Password" />
                <ValidationMessage For="@(() => Model.Password)"/>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </EditForm>
    </div>
</div>